# .pre-commit-config.yaml
exclude: "\\.patch$"

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.0
    hooks:
      - id: clang-format
        types_or: [c++, c]

  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: pnpm run eslint
        language: node
        files: '\.(ts)$'
        types: [file]

      - id: prettier
        name: Prettier
        entry: pnpm run prettier
        language: node
        files: '\.(ts)$'
        types: [file]
